@use "../abstracts/brakepoints" as *;
@use "../abstracts/colors" as *;

@include xs {
	.rightButton {
		display: flex;
		justify-content: center;
		width: 100%;
		.circle {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 150px;
			height: 150px;
			border-radius: 100%;
			background-color: $h1text;
			a {
				font-family: $bellefair;
				text-align: center;
				color: blue;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}
