@use "../abstracts/brakepoints" as *;
@use "../base/typography" as *;
@use "../abstracts/colors" as *;
//mobile dsg
@include sm {
	header {
		width: 100%;
		height: 17vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav {
		width: 100%;
		height: 100%;
		overflow: hidden;
		.mainNavbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1.5rem;
			.openMobile {
				display: block;
				background-image: url("../assets/shared/icon-hamburger.svg");
				width: 24px;
				height: 21px;
			}
		}
	}

	.navItems {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 0%;
		background: rgba(0, 0, 0, 0.37);
		backdrop-filter: blur(40.7742px);
		-webkit-backdrop-filter: blur(40.7742px);
		gap: 2rem;
		font-family: $barlowCondensed;
		transition: width 0.5s linear;
		overflow-x: hidden;
		z-index: 3;
		li {
			list-style: none;
			margin-left: 2rem;
			a {
				text-decoration: none;
				color: white;
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 2.7px;
				text-transform: uppercase;
			}
			span {
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 2.7px;
			}
		}
		.cls {
			width: 100%;
			height: 12%;
			.closeMobile {
				display: block;
				width: 19.09px;
				height: 19.09px;
				background-image: url("../assets/shared/icon-close.svg");
				z-index: 1;
				position: absolute;
				left: 210.45px;
				top: 33.95px;
			}
		}
	}
	//nav destiantion
	.destinationBar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
		font-family: $barlowCondensed;
		li {
			list-style: none;
			&.active {
				height: 4vh;
				border-bottom: 3px solid $h1text;
			}
			a {
				text-decoration: none;
				text-transform: uppercase;
				color: $ptext;
			}
		}
	}

	//crewNav
	.dotsNav {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: default;
		.active {
			a {
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
				mix-blend-mode: normal;
				opacity: 1;
				&:after {
					height: 100%;
				}
			}
		}

		li {
			position: relative;
			display: block;
			float: left;
			margin: 0 7px;
			width: 10px;
			height: 10px;
			cursor: pointer;
			border-radius: 50%;

			a {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				outline: none;
				border-radius: 50%;
				text-indent: -999em;
				cursor: pointer;
				position: absolute;
				overflow: hidden;
				background-color: $h1text;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
				mix-blend-mode: normal;
				opacity: 0.17;

				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					height: 0;
					left: 0;
					width: 100%;
					background-color: #fff;
					box-shadow: 0 0 1px #fff;
					-webkit-transition: height 0.3s ease;
					transition: height 0.3s ease;
				}
			}
		}
	}
	//technology nav
	.techNav {
		display: flex;
		justify-content: center;
		width: 100%;

		.numberNav {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			width: 100%;
			height: 10vh;
			li {
				list-style: none;
				width: 40px;
				height: 40px;
				border: 1px solid $span;
				border-radius: 100%;
				color: $span;
				&.active {
					background-color: $h1text;
					a {
						color: hsla(230, 35%, 7%, 1);
						font-family: $bellefair;
						font-style: normal;
						font-weight: 400;
						font-size: 16px;
						line-height: 18px;
						text-align: center;
						letter-spacing: 1px;
					}
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					color: $h1text;
					text-decoration: none;
					text-transform: uppercase;
					font-family: $bellefair;
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 18px;
					text-align: center;
					letter-spacing: 1px;
				}
			}
		}
	}
}
@include md {
	header {
		width: 100%;
		height: 15vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav {
		width: 100%;
		height: 100%;
		overflow: hidden;
		.mainNavbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1.5rem;
			.openMobile {
				display: none;
				background-image: url("../assets/shared/icon-hamburger.svg");
				width: 24px;
				height: 21px;
			}
		}
	}

	.navItems {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 9vh;
		width: 60%;
		background: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(40.7742px);
		gap: 2rem;
		font-family: $barlowCondensed;
		position: absolute;
		top: 0;
		right: 0;
		li {
			list-style: none;
			margin-left: 1rem;
			a {
				text-decoration: none;
				color: white;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 2.3625px;
				text-transform: uppercase;
			}
			span {
				display: none;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 2.7px;
			}
		}
		.cls {
			display: none;
			width: 100%;
			height: 12%;
			.closeMobile {
				display: none;
				width: 19.09px;
				height: 19.09px;
				background-image: url("../assets/shared/icon-close.svg");
				z-index: 1;
				position: absolute;
				left: 210.45px;
				top: 33.95px;
			}
		}
	}
	//destination nav
	.destinationBar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
		font-family: $barlowCondensed;
		margin-top: 1rem;
		li {
			list-style: none;
			&.active {
				height: 3vh;
				border-bottom: 3px solid $h1text;
			}
			a {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 2.7px;
				text-decoration: none;
				text-transform: uppercase;
				color: $ptext;
			}
		}
	}
	//crewNav
	.cellNav {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.dotsNav {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: default;
		.active {
			a {
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
				mix-blend-mode: normal;
				opacity: 1;
				&:after {
					height: 100%;
				}
			}
		}

		li {
			position: relative;
			display: block;
			float: left;
			margin: 0 7px;
			width: 10px;
			height: 10px;
			cursor: pointer;
			border-radius: 50%;

			a {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				outline: none;
				border-radius: 50%;
				text-indent: -999em;
				cursor: pointer;
				position: absolute;
				overflow: hidden;
				background-color: $h1text;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
				mix-blend-mode: normal;
				opacity: 0.17;

				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					height: 0;
					left: 0;
					width: 100%;
					background-color: #fff;
					box-shadow: 0 0 1px #fff;
					-webkit-transition: height 0.3s ease;
					transition: height 0.3s ease;
				}
			}
		}
	}
	//technology nav
	.techNav {
		display: flex;
		justify-content: center;
		width: 100%;

		.numberNav {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			width: 100%;
			height: 15vh;
			li {
				list-style: none;
				width: 60px;
				height: 60px;
				border: 1px solid $span;
				border-radius: 100%;
				color: $span;
				&.active {
					background-color: $h1text;
					a {
						color: hsla(230, 35%, 7%, 1);
						font-family: $bellefair;
						font-style: normal;
						font-weight: 400;
						font-size: 24px;
						line-height: 28px;
						text-align: center;
						letter-spacing: 1.5px;
					}
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 60px;
					height: 60px;
					color: $h1text;
					text-decoration: none;
					text-transform: uppercase;
					font-family: $bellefair;
					font-style: normal;
					font-weight: 400;
					font-size: 24px;
					line-height: 28px;
					text-align: center;
					letter-spacing: 1.5px;
				}
			}
		}
	}
}
@include lg {
	header {
		width: 100%;
		height: 25vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav {
		width: 100%;
		height: 100%;
		overflow: hidden;
		.mainNavbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0;
			margin-top: 4rem;
			.openMobile {
				display: none;
				background-image: url("../assets/shared/icon-hamburger.svg");
				width: 24px;
				height: 21px;
			}
		}
	}
	.logoWrapper {
		margin-left: 5rem;
	}
	.navItems {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 11vh;
		width: 60%;
		background: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(40.7742px);
		gap: 5rem;
		font-family: $barlowCondensed;
		position: relative;
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			margin-left: 1rem;
			&.active {
				height: 11vh;
				border-bottom: 3px solid $h1text;
			}
			&:hover {
				height: 11vh;
				border-bottom: 3px solid $h1text;
			}
			a {
				text-decoration: none;
				color: white;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 2.3625px;
				text-transform: uppercase;
			}
			span {
				display: inline;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 2.7px;
			}
		}

		.cls {
			display: none;
			width: 100%;
			height: 12%;
			.closeMobile {
				display: none;
				width: 19.09px;
				height: 19.09px;
				background-image: url("../assets/shared/icon-close.svg");
				z-index: 1;
				position: absolute;
				left: 210.45px;
				top: 33.95px;
			}
		}
	}
	.bar {
		position: absolute;
		width: 25%;
		height: 1px;
		left: 18%;
		top: 115px;
		background: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.25;
		z-index: 1;
	}
	//crewNav
	.cellNav {
		display: flex;
		justify-content: flex-start;
		width: 55%;
	}
	.dotsNav {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: default;
		.active {
			a {
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
				mix-blend-mode: normal;
				opacity: 1;
				&:after {
					height: 100%;
				}
			}
		}

		li {
			position: relative;
			display: block;
			float: left;
			margin: 0 7px;
			width: 15px;
			height: 15px;
			cursor: pointer;
			border-radius: 50%;

			a {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				outline: none;
				border-radius: 50%;
				text-indent: -999em;
				cursor: pointer;
				position: absolute;
				overflow: hidden;
				background-color: $h1text;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
				mix-blend-mode: normal;
				opacity: 0.17;

				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					height: 0;
					left: 0;
					width: 100%;
					background-color: #fff;
					box-shadow: 0 0 1px #fff;
					-webkit-transition: height 0.3s ease;
					transition: height 0.3s ease;
				}
			}
		}
	}
	//technology nav
	.techNav {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex: 1;
		.numberNav {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			width: 100%;
			height: 10vh;
			li {
				list-style: none;
				width: 80px;
				height: 80px;
				border: 1px solid $span;
				border-radius: 100%;
				color: $span;
				&.active {
					background-color: $h1text;
					a {
						color: hsla(230, 35%, 7%, 1);
						font-family: $bellefair;
						font-style: normal;
						font-style: normal;
						font-weight: 400;
						font-size: 32px;
						line-height: 37px;
						text-align: center;
						letter-spacing: 2px;
					}
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80px;
					height: 80px;
					color: $h1text;
					text-decoration: none;
					text-transform: uppercase;
					font-family: $bellefair;
					font-style: normal;
					font-weight: 400;
					font-size: 32px;
					line-height: 37px;
					text-align: center;
					letter-spacing: 2px;
				}
			}
		}
	}
}
@include xl {
	header {
		width: 100%;
		height: 25vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	nav {
		width: 100%;
		height: 100%;
		overflow: hidden;
		.mainNavbar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0;
			margin-top: 4rem;
			.openMobile {
				display: none;
				background-image: url("../assets/shared/icon-hamburger.svg");
				width: 24px;
				height: 21px;
			}
		}
	}
	.logoWrapper {
		margin-left: 5rem;
	}
	.navItems {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		height: 11vh;
		width: 60%;
		background: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(40.7742px);
		gap: 5rem;
		font-family: $barlowCondensed;
		position: relative;
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			margin-left: 1rem;
			&:hover {
				height: 11vh;
				border-bottom: 3px solid $h1text;
			}
			a {
				text-decoration: none;
				color: white;
				font-style: normal;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 2.3625px;
				text-transform: uppercase;
			}
			span {
				display: inline;
				font-style: normal;
				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 2.7px;
			}
		}
		.cls {
			display: none;
			width: 100%;
			height: 12%;
			.closeMobile {
				display: none;
				width: 19.09px;
				height: 19.09px;
				background-image: url("../assets/shared/icon-close.svg");
				z-index: 1;
				position: absolute;
				left: 210.45px;
				top: 33.95px;
			}
		}
	}
	.bar {
		width: 25%;
		height: 1px;
		left: 20%;
		top: 115px;
		background: #ffffff;
		mix-blend-mode: normal;
		opacity: 0.25;
	}
	//destination nav
	.destinationBar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
		font-family: $barlowCondensed;
		margin-top: 1rem;
		height: 2vh;
		li {
			list-style: none;
			&:hover {
				height: 3vh;
				border-bottom: 3px solid rgba(255, 255, 255, 0.205);
			}
			&.active {
				height: 3vh;
				border-bottom: 3px solid $h1text;
			}
			a {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				letter-spacing: 2.7px;
				text-decoration: none;
				text-transform: uppercase;
				color: $ptext;
			}
		}
	}
	//crewNav

	.dotsNav {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: default;
		.active {
			a {
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
				mix-blend-mode: normal;
				opacity: 1;
				&:after {
					height: 100%;
				}
			}
		}

		li {
			position: relative;
			display: block;
			float: left;
			margin: 0 7px;
			width: 10px;
			height: 10px;
			cursor: pointer;
			border-radius: 50%;
			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
			}
			a {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				outline: none;
				border-radius: 50%;
				text-indent: -999em;
				cursor: pointer;
				position: absolute;
				overflow: hidden;
				background-color: $h1text;
				-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
				-webkit-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1);
				mix-blend-mode: normal;
				opacity: 0.17;

				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					height: 0;
					left: 0;
					width: 100%;
					background-color: #fff;
					box-shadow: 0 0 1px #fff;
					-webkit-transition: height 0.3s ease;
					transition: height 0.3s ease;
				}
			}
		}
	}
	//technology nav
	.techNav {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		flex: 1;
		.numberNav {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2rem;
			width: 100%;
			height: 10vh;
			li {
				list-style: none;
				width: 80px;
				height: 80px;
				border: 1px solid $span;
				border-radius: 100%;
				color: $span;
				&.active {
					background-color: $h1text;
					a {
						color: hsla(230, 35%, 7%, 1);
						font-family: $bellefair;
						font-style: normal;
						font-style: normal;
						font-weight: 400;
						font-size: 32px;
						line-height: 37px;
						text-align: center;
						letter-spacing: 2px;
					}
				}
				&:hover {
					border: 1px solid $h1text;
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 80px;
					height: 80px;
					color: $h1text;
					text-decoration: none;
					text-transform: uppercase;
					font-family: $bellefair;
					font-style: normal;
					font-weight: 400;
					font-size: 32px;
					line-height: 37px;
					text-align: center;
					letter-spacing: 2px;
				}
			}
		}
	}
}
