@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;700&family=Kumbh+Sans:wght@400;700&display=swap");
$bellefair: "Bellefair", serif;
$barlowCondensed: "Barlow Condensed", sans-serif;
$barlow: "Barlow", sans-serif;
