@forward "../components/nav";
@forward "../base/typography";
@forward "../base/reset";
@forward "../components/buttons";
@use "../abstracts/brakepoints" as *;
@use "../abstracts/colors" as *;
@use "../base/typography" as *;

//mobile dsg
@include sm {
	body {
		height: 100vh;
		background-image: url("../assets/home/background-home-mobile.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		height: 75%;
	}
	.leftContent {
		p:first-child {
			font-size: 16px;
			color: $ptext;
			text-transform: uppercase;
			line-height: 19px;
			letter-spacing: 2.7px;
			font-style: normal;
			font-weight: 400;
			font-family: $barlowCondensed;
		}
		h1 {
			color: $h1text;
			font-size: 80px;
			text-transform: uppercase;
			font-family: $bellefair;
			line-height: 100px;
			font-weight: 400;
		}
		p:last-child {
			width: 85%;
			color: $ptext;
			font-family: $barlow;
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 25px;
			margin-left: auto;
			margin-right: auto;
		}
		.topContent {
			background-color: $bgcolor;
			height: 65%;
		}
	}
}
@include md {
	body {
		height: 100vh;
		background-image: url("../assets/home/background-home-tablet.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		height: 75%;
	}
	.leftContent {
		p:first-child {
			color: $ptext;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
			letter-spacing: 3.375px;
			font-family: $barlowCondensed;
		}
		h1 {
			color: $h1text;
			font-weight: 400;
			font-size: 150px;
			line-height: 150px;
			text-transform: uppercase;
			font-family: $bellefair;
			margin-top: 2rem;
		}
		p:last-child {
			width: 54%;
			color: $ptext;
			font-family: $barlow;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 28px;
			margin-left: auto;
			margin-right: auto;
		}
		.topContent {
			background-color: rgba(0, 0, 0, 0);
			height: 65%;
		}
	}
}

@include lg {
	body {
		height: 100vh;
		background-image: url("../assets/home/background-home-desktop.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		height: 75%;
	}
	.leftContent {
		p:first-child {
			color: $ptext;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 28px;
			line-height: 34px;
			letter-spacing: 4.725px;
			font-family: $barlowCondensed;
		}
		h1 {
			color: $h1text;
			text-transform: uppercase;
			font-family: $bellefair;
			font-weight: 400;
			font-size: 150px;
			line-height: 172px;
		}
		p:last-child {
			width: 52%;
			text-align: left;
			color: $ptext;
			font-family: $barlow;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 32px;
		}
		.topContent {
			background-color: rgba(0, 0, 0, 0);
			height: 65%;
		}
	}
}
@include xl {
	body {
		height: 100vh;
		background-image: url("../assets/home/background-home-desktop.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		height: 75%;
	}
	.leftContent {
		p:first-child {
			color: $ptext;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 28px;
			line-height: 34px;
			letter-spacing: 4.725px;
			font-family: $barlowCondensed;
		}
		h1 {
			color: $h1text;
			text-transform: uppercase;
			font-family: $bellefair;
			font-weight: 400;
			font-size: 150px;
			line-height: 172px;
		}
		p:last-child {
			width: 52%;
			text-align: left;
			color: $ptext;
			font-family: $barlow;
			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 32px;
		}
		.topContent {
			background-color: rgba(0, 0, 0, 0);
			height: 65%;
		}
	}
}
